body {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #3a3a3a;
}

/* Navbar */

.navBar{
  display: inline;
}

.redirectPage {
  padding: 0.8rem;
  text-decoration: none;
}

.leftLogo {
  float: left;
  position: absolute;
  padding-top: 1rem;
  left: 1%;
}

.centerLinks {
  position: absolute;
  float: center;
  width: 30rem;
  padding-top: 1rem;
  left: 35%;
}

.rightLinks {
  position: absolute;
  float: right;
  padding-top: 1rem;
  left: 83%;
}

.redirectPage:hover {
  color: #f1c232;
  transition: 0.5s;
}

/* -------------------------------------------- */